---
const { content, githubEditUrl } = Astro.props;
const title = content.title;
// const headers = content.astro.headers;
---

<article id="article" class="content" role="main">
    <section class="main-section">
        <h1>{title}</h1>
        <nav class="block sm:hidden">
        </nav>
        <slot />
        <div class="mt-4"></div>
        <a href={githubEditUrl} target="_blank" rel="noopener noreferrer">Edit on GitHub</a>
    </section>
</article>