---
const { headers } = Astro.props;
---

{headers.length > 0 &&
<nav role="navigation">
    <ul class="flex flex-col gap-4 mt-24">
        { headers.map(({ slug, text }) => (
                <li class="text-slate-400 hover:text-slate-900">
                    #<a href={`#${slug}`}>{text}</a>
                </li>
        )) }
    </ul>
</nav>
    }